/* Centering contents */
#contents {
    background-color: blue;
    width: 80vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
}

.accordion {
    width: 400px;
    margin: auto;
    padding-top: 20vh;
}