/* Centering contents */
#contents {
    /* Placeholder color */
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 80vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
}

/* Centering accordion */
.accordion {
    width: 400px;
    align-self: center;
    padding-top: 100px;

}

/* Centering "tietoja" div */
#tietoja {
    align-self: center;
    position: absolute;
    bottom: 10vh;
}

#tietojaButton {
    width: 300px;
}

/* Position of logo */
#logo {
    position: relative;
    top: 20px;
    right: 20px;
}

#logo img {
    height: 160px;
}
