/*Tekijä: Juuso Pesonen */

/* Main body of the page */

body {
    margin: 0;
    font-size: 1.2em;
    background-image: url(../Images/blue-756194.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Contents of the page */

#contents {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 250px 280px 1fr 250px;
    padding: 20px;
    height: 100vh;
}

.main-header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    min-height: 180px;
    min-width: 100%;
}

.main-header h3 {
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: -140px;
    text-align: center;
    color:#34586B;
    font-family: 'Noto Sans', sans-serif;

}

.main-header p {
    position: relative;
    align-self: center;
    margin-top: 50px;
    padding: 20px;
    margin: 10px;
    width: fit-content;
}

/* SG-10 A logo */

#logo {
    margin-left: auto;
    height: 200px;
    align-self: center;
    padding: 25px;
    height: 160px;
}

/* Icons */

.fa-globe {
    max-width: 200px;
    color:#375a4f;
    margin-left: 10px;
}

.main-header a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color:#34586B;
    float: right;
    margin-top: 45px;
    margin-left: 35px;
}

.main-header a:hover {
    color: #cccccc;
}

/* Grid settings */ 

#navbar {
    grid-area: 1 / 1 / 5 / 2;
}

.start-box {
    grid-area: 2 / 2 / 3 / 3;
    min-width: 450px;
    height: 200px;
    
}
.question-box {
    grid-area: 3 / 2 / 4 / 3;
    min-height: 700px;
}
.result-box {
    grid-area: 3 / 2 / 4 / 3;
    min-width: 700px;
}

.main-footer {
    grid-area: 4 / 2 / 5 / 3;
    min-width: 100%;
}


/* Visa dropdown */

#visaDropdown {
    background-color: #279ab2;
    position: absolute;
    left: 250px;
    top: 41%;
    width: max-content;
    display: none;
    border-radius: 6px;
    
}

#visatArrow {
    position: absolute;
    right: -10px;
}

.nav-links li:hover #visaDropdown {
    display: block;
}

#visaDropdown ul {
    list-style: none;
    padding: 0px;
}

#visaDropdown ul li {
    padding: 0px;
}

#visaDropdown ul li p {
    padding-left: 10px;
    padding-right: 10px;
}

#visaDropdown ul :hover {
    background-color: #79C3D3;
    border-radius: 6px;
    color: #1b2e38;
}

#visaDropdown ul li a{
    text-decoration: none;
    color: #e0f4f8;
    padding: 0px;
    transition: none;
}

/* Quiz start box */

.custom-box {
    max-width: 500px;
    background-color: #cbecf4e6;
    border: 10px double #279ab2;
    border-radius: 10px;
    margin: 40px auto;
    padding: 30px;
}

 /* hides content */
.custom-box.hide {
    display: none;

}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}

.start-box .btn {
    margin-top: 20px;
}

.btn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    margin-left: 30%;
    display: inline-block;
}

.btn:hover {
    background-color: #279ab2;
}

/*  Quiz start box fonts color */

.start-box {
    min-height: 250px;
}

.start-box h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 25px;
    margin-left: 56px;
    line-height: 25px;
    text-align: center;
    color:#34586B;
    font-family: 'Noto Sans', sans-serif;
}

.start-box p {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #34586B;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
}

.start-box span {
    font-weight: 500;
}

/* Questions box content */

.question-box {
    max-width: 700px;
}
.question-image {
    position:relative;
}
.question-box .btn {
    margin: 15px 0;
    margin-left: 0;
}

.question-box .question-num,
.question-box .question-text,
.question-box .options-content,
.question-box .next-question-button {
    width: 100%;
    float: left;

}
.question-box .question-num {
    font-size: 1.2em;
    color: #34586B;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid #777777;
    padding-bottom: 10px;
    line-height: 25px;
}

.question-box .question-text {
    font-size: 1.375em;
    color:#34586B;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    
}

.question-box .options-content .option {
    background-color: #a5a5a5;
    padding: 15px;
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
    line-height: 25px;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow:hidden;

}
/* Question correct answer color */
.question-box .options-content .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2d922d;
    z-index: -1;
    animation: slideInLeft .8s ease-in forwards;
}
/* Animation of correct answer */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.question-box .options-content .option.correct {
    color: #ffffff;
}

/* Question wrong answer color */
.question-box .options-content .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ec5252;
    z-index: -1;
    animation: slideInLeft .8s ease-in forwards;
}
.question-box .options-content .option.wrong {
    color: #ffffff;
}
/* Already chosen option */
.question-box .options-content .option.already-chosen {
    pointer-events: none;
}

/* Animation for options */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*.question-box .answers-container {
    border-top: 1px solid #cccccc;
}
.question-box .answers-container div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px; 
} */

/* Quiz Results box content */

.result-box {
    text-align: center;
    margin-top: 2.5%;
}
 /* hides content */
.result-box.hide {
    display: none;
}

.result-box h1 {
    color: #34586B;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.25em;
    line-height: 42px;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;

}

.result-box table td {
    border: 1px solid #686868;
    color: #34586B;
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
    padding: 8px 15px;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.btn-1 {
    margin-left: -20px;
    margin-bottom: 20px;
}

.btn-2 {
    margin-left: 40px;
    margin-bottom: 20px;
}

/* Footer box */

.main-footer h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 48px;
    text-align: center;
    color:#34586B;
    font-family: 'Noto Sans', sans-serif;
}

/* Defining navbar starts here */

#navbar {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #279ab2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0px;
}

.nav-links li a {
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li #visat {
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i {
    font-size: 25px;
    margin-right: 20px;
}

.nav-links li #visat i {
    font-size: 25px;
    margin-right: 20px;
}

.nav-links li a p {
    padding-top: 13px;
}

.nav-links li #visat p {
    padding-top: 13px;
}

.active {
    background-color: #79C3D3;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 7.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(27, 46, 56, 0.4);
    display: none;
    transition: top 0.05s;
}

.nav-links li:hover a {
    color: #1b2e38;
    transition: 0.06s;
}

.nav-links li:hover #visat {
    color: #1b2e38;
    transition: 0.06s;
    cursor: pointer;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(2):hover ~ .active {
    top: 41%;
}

.nav-links li:nth-child(3):hover ~ .active {
    top: 74%;
}
/* Tietoja button */

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tietojaButton {
    width: 300px;
    background-color: #e0f4f8;
    border-radius: 8px;
    border: 2px solid #279ab2;
    color: #1b2e38
}

/* tietojaButton hover */
#tietojaButton:hover {
    background-color: #79C3D3;
    cursor: pointer;
}

/* Responvise layout */

@media only screen and (max-width: 768px) {
.side-nav {
    width: 125px;
}
#logo {
    float: right;
} 
#visaDropdown {
    background-color: #279ab2;
    position: absolute;
    left: 125px;
    top: 38%;
    width: max-content;
    display: none;
    border-radius: 6px;  
}
    
.nav-links li:hover #visaDropdown ul p {
    display: block;
}
    
.nav-links li:nth-child(1):hover ~ .active {
    top: 5%;
}
    
.nav-links li:nth-child(2):hover ~ .active {
    top: 38%;
}
    
.nav-links li:nth-child(3):hover ~ .active {
    top: 71%;
}
    
#contents {
    grid-template-columns: 125px 1fr auto;
}
    
ul p {
    display: none;
}

.start-box .result-box,
.question-box .question-num,
.question-box .question-text,
.question-box .options-content,
.question-box .next-question-button {
    min-width: 400px;
}

}
    
@media only screen and (max-width: 576px) {
.side-nav {
    grid-column: 1/4;
    display: none;
}
    
#logo {
    display: none;
}
    
.main-header {
    grid-column: 1/4;
}
    
.main-header h3 {
    margin-left: auto;
    margin-right: auto;
    left: 0px;
}
    
.start-box {
    grid-column: 1/4;
    height: 200px;
}

.question-box {
    grid-column: 1/4;
}

.result-box {
    grid-column: 1/4;
}

.main-footer {
    grid-column: 1/4;
    height: 200px;
}
        
}