body {
    background-image: url(../Images/blue-756194.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* Defining contents */
#contents {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 20px;
    height: 100vh;
}

header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    min-height: 180px;
}

#navbar {
    grid-column: 1/2;
    grid-row: 1/4;
}

#center {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    position: relative;
}

.main-card {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

footer {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    min-height: 100px;
}

header, #center, footer {
    background: rgba(203, 236, 244, 0.9);
    border: 10px double #279ab2;
    border-radius: 15px;
    margin: 10px;
}

/* Defining navbar starts here */
#navbar {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #279ab2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0px;
}

.nav-links li a {
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li #visat {
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i {
    font-size: 25px;
    margin-right: 20px;
}

.nav-links li #visat i {
    font-size: 25px;
    margin-right: 20px;
}

.nav-links li a p {
    padding-top: 13px;
}

.nav-links li #visat p {
    padding-top: 13px;
}

.active {
    background-color: #79C3D3;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 7.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(27, 46, 56, 0.4);
    display: none;
    transition: top 0.05s;
}

.nav-links li:hover a {
    color: #1b2e38;
    transition: 0.06s;
}

.nav-links li:hover #visat {
    color: #1b2e38;
    transition: 0.06s;
    cursor: pointer;
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(2):hover ~ .active {
    top: 41%;
}

.nav-links li:nth-child(3):hover ~ .active {
    top: 74%;
}

/* Visa dropdown */
#visaDropdown {
    background-color: #279ab2;
    position: absolute;
    left: 250px;
    top: 41%;
    width: max-content;
    display: none;
    border-radius: 6px;
    
}

#visatArrow {
    position: absolute;
    right: -10px;
}

.nav-links li:hover #visaDropdown {
    display: block;
}

#visaDropdown ul {
    list-style: none;
    padding: 0px;
}

#visaDropdown ul li {
    padding: 0px;
}

#visaDropdown ul li p {
    padding-left: 10px;
    padding-right: 10px;
}

#visaDropdown ul :hover {
    background-color: #79C3D3;
    border-radius: 6px;
    color: #1b2e38;
}

#visaDropdown ul li a{
    text-decoration: none;
    color: #e0f4f8;
    padding: 0px;
    transition: none;
}
/* Defining navbar ends here */


#tietoja {
    align-self: center;
}

#tietojaButton {
    width: 300px;
    background-color: #e0f4f8;
    border-radius: 8px;
    border: 2px solid #279ab2;
    color: #1b2e38
}

/* tietojaButton hover */
#tietojaButton:hover {
    background-color: #79C3D3;
    cursor: pointer;
}

/* Position of title */
#title {
    left: 20px;
    position: relative;
    align-self: center;
    color: #34586B;
    text-shadow: 1px 1px #1b2e38;
}

/* Position of logo */
#logo {
    /* position: absolute; */
    /* right: 30px; */
    margin-left: auto;
    height: 200px;
    align-self: center;
    padding: 25px;
}

#center .startShow {
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center #visaStart button {
    background-color: white;
    width: 50%;
    height: 33%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
    
}

#center #visaStart button:hover {
    background-color: green;
    color: white;
}

#center .startHide {
    display: none;
}

#center .questionHide1 {
    display: none;
    
}

#center .questionShow1 {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#center #question1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
}

#center #question1 h4 {
    padding-bottom: 20px;
}

#center #question1 p {
    font-weight: bold;
    font-size: 1.2em;
}

#center .questionShow1 #field1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 33%;
}

#center .questionShow1 #field1 input {
    height: 30%;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

#center .save1Show {
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#center #saveButton1 {
    width: 100%;
}

#center .save1Hide {
    display: none;
}

#center .questionShow1 .button1Hide {
    display: none;
}

#center .questionShow1 .button1Show {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15%;
}

#center #nextQuestions1 {
    background-color: white;
    width: 15%;
    height: 100%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
}

#center #firstQuestions button:hover {
    background-color: green;
    color: white;
}

#center .questionHide2 {
    display: none;
}

#center .questionShow2 {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#center #question2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
}

#center #question2 h4 {
    padding-bottom: 20px;
}

#center #question2 p {
    font-weight: bold;
    font-size: 1.2em;
}

#center #radio1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
    border-radius: 5px;
}

#center #radio1 div {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
}

#center .save2Show {
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#center #saveButton2 {
    width: 100%;
}

#center .save2Hide {
    display: none;
}

#center .questionShow2 .button2Hide {
    display: none;
}

#center .questionShow2 .button2Show {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15%;
}

#center #nextQuestions2 {
    background-color: white;
    width: 15%;
    height: 100%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
}

#center #secondQuestions button:hover {
    background-color: green;
    color: white;
}

#center .questionHide3 {
    display: none;
}

#center .questionShow3 {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#center #question3 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
}

#center #question3 h4 {
    padding-bottom: 20px;
}

#center #question3 p {
    font-weight: bold;
    font-size: 1.2em;
}

#center #radio2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
    border-radius: 5px;
}

#center #radio2 div {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
}

#center .save3Show {
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#center #saveButton3 {
    width: 100%;
}

#center .save3Hide {
    display: none;
}

#center .questionShow3 .button3Hide {
    display: none;
}

#center .questionShow3 .button3Show {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15%;
}

#center #nextQuestions3 {
    background-color: white;
    width: 15%;
    height: 100%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
}

#center #thirdQuestions button:hover {
    background-color: green;
    color: white;
}

#center .questionHide4 {
    display: none;
}

#center .questionShow4 {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#center #question4 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
}

#center #question4 h4 {
    padding-bottom: 20px;
}

#center #question4 p {
    font-weight: bold;
    font-size: 1.2em;
}

#center #radio3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
    border-radius: 5px;
}

#center #radio3 div {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
}

#center .save4Show {
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#center #saveButton4 {
    width: 100%;
}

#center .save4Hide {
    display: none;
}

#center .questionShow4 .button4Hide {
    display: none;
}

#center .questionShow4 .button4Show {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15%;
}

#center #nextQuestions4 {
    background-color: white;
    width: 15%;
    height: 100%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
}

#center #fourthQuestions button:hover {
    background-color: green;
    color: white;
}

#center .questionHide5 {
    display: none;
}

#center .questionShow5 {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

#center #question5 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: #79C3D3;
    border: 2px solid #279ab2;
}

#center #question5 h4 {
    padding-bottom: 20px;
}

#center #question5 p {
    font-weight: bold;
    font-size: 1.2em;
}

#center .questionShow5 #field2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 33%;
}

#center .questionShow5 #field2 input {
    height: 30%;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

#center .save5Show {
    position: absolute;
    width: 45%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#center #saveButton5 {
    width: 100%;
}

#center .save5Hide {
    display: none;
}

#center .questionShow5 .button5Hide {
    display: none;
}

#center .questionShow5 .button5Show {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 15%;
}

#center #nextQuestions5 {
    background-color: white;
    width: 15%;
    height: 100%;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5px;
}

#center #fifthQuestions button:hover {
    background-color: green;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

#center .resultHide {
    display: none;
}

#center .resultShow {
    display: block;
    position: absolute;
    background-image: url(../Images/blue-756194.jpg);
    border: solid 3px #279ab2;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

@media only screen and (max-width: 768px) {
    .side-nav {
        width: 125px;
    }

    ul p {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .side-nav {
        display: none;
    }
}